@font-face {
  font-family: "fira-sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "fira-sans-light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/FiraSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "fira-sans-bold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "fira-sans-italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraSans-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "fira-sans-thin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraSans-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "fira-sans-ultra-light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraSans-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: "fira-sans-medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2");
}

html {
  position: relative;
  min-height: 100%;
}

h1 {
  font-size: 24px;
  font-family: "fira-sans", sans-serif;
}

h2 {
  font-size: 24px;
  font-family: "fira-sans-medium", sans-serif;
  text-align: left;
}

body {
  font-family: "fira-sans", sans-serif;
  margin-bottom: 60px;
  margin-top: 60px;
}

a {
  text-decoration: none;
}

.link-accent {
  color: #023c9f;
  font-family: "fira-sans-light", sans-serif;
}

.link-plain {
  color: inherit;
  font-family: "fira-sans-light", sans-serif;
}

.profile__meta,
.profile__contact {
  font-size: 16px;
  font-family: "fira-sans-light", sans-serif;
  display: block;
}

.profile__links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 6px;
}

.profile__link {
  font-size: 16px;
}

.research__item {
  font-size: 16px;
  font-family: "fira-sans-light", sans-serif;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.timeline__header {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.timeline__org {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.timeline__logo {
  height: 1.44em;
  width: auto;
  vertical-align: middle;
}

.timeline__name {
  font-size: 16px;
  font-family: "fira-sans", sans-serif;
}

.timeline__date {
  margin-left: auto;
  font-size: 16px;
  font-family: "fira-sans-light", sans-serif;
}

.timeline__role {
  font-size: 16px;
  font-family: "fira-sans-light", sans-serif;
  display: block;
  margin-top: 4px;
}

.publication {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.publication__tag {
  font-family: "fira-sans-light", sans-serif;
  color: rgb(0, 77, 0);
}

.publication__title {
  font-family: "fira-sans", sans-serif;
}

.publication__author {
  font-size: 16px;
  font-family: "fira-sans-ultra-light", sans-serif;
}

.publication__author--self {
  font-family: "fira-sans-light", sans-serif;
}

.publication__venue,
.publication__abbr {
  font-size: 16px;
  font-family: "fira-sans-light", sans-serif;
}

.publication__link {
  float: right;
}

.ta-list {
  padding: 0;
}

.ta-list__item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "fira-sans-light", sans-serif;
}

.award-list {
  padding: 0;
}

.award-list__item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "fira-sans-light", sans-serif;
}

.footer__note {
  font-size: 14px;
  font-family: "fira-sans-ultra-light", sans-serif;
}

